@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar o seu pedido.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Solicitação de ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    Alternar para o <strong>Ambiente de Desenvolvimento</strong> irá exibir informações mais detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve estar ativado para aplicações implantadas.</strong>
    Isto pode resultar na exibição de informações confidenciais de exceções aos utilizadores finais.
    Para depuração local, ative o ambiente de <strong>Desenvolvimento</strong> definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> como <strong>Desenvolvimento</strong>
    e reinicie a aplicação.
</p>