@model Trocas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trocas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdLivroDado" class="control-label"></label>
                <select asp-for="IdLivroDado" class="form-control" asp-items="ViewBag.IdLivroDado"></select>
                <span asp-validation-for="IdLivroDado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLivroRecebido" class="control-label"></label>
                <select asp-for="IdLivroRecebido" class="form-control" asp-items="ViewBag.IdLivroRecebido"></select>
                <span asp-validation-for="IdLivroRecebido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVendedor" class="control-label"></label>
                <select asp-for="IdVendedor" class="form-control" asp-items="ViewBag.IdVendedor"></select>
                <span asp-validation-for="IdVendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdComprador" class="control-label"></label>
                <select asp-for="IdComprador" class="form-control" asp-items="ViewBag.IdComprador"></select>
                <span asp-validation-for="IdComprador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

