bin/
obj/
/bin
/obj
appsettings.json
appsettings.json
bin/Debug/net8.0/DevWeb_23774_25961.dll
bin/Debug/net8.0/DevWeb_23774_25961.exe
bin/Debug/net8.0/DevWeb_23774_25961.pdb
bin/Debug/net8.0/DevWeb_23774_25961.staticwebassets.runtime.json
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/DevWeb_23774_25961.AssemblyInfo.cs
obj/Debug/net8.0/DevWeb_23774_25961.AssemblyInfoInputs.cache
obj/Debug/net8.0/DevWeb_23774_25961.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/DevWeb_23774_25961.dll
obj/Debug/net8.0/DevWeb_23774_25961.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/DevWeb_23774_25961.pdb
obj/Debug/net8.0/DevWeb_23774_25961.sourcelink.json
obj/Debug/net8.0/ref/DevWeb_23774_25961.dll
obj/Debug/net8.0/refint/DevWeb_23774_25961.dll
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/staticwebassets.development.json
obj/Debug/net8.0/staticwebassets.pack.json
obj/Debug/net8.0/staticwebassets/msbuild.DevWeb_23774_25961.Microsoft.AspNetCore.StaticWebAssets.props
