@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este site de troca de livros foi desenvolvido como parte de um projeto académico e tem fins exclusivamente educativos. Respeitamos a privacidade dos utilizadores e não recolhemos nem armazenamos dados pessoais para fins comerciais. Quaisquer informações fornecidas serão utilizadas apenas para o funcionamento básico da plataforma e não serão partilhadas com terceiros.</p>