@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p>A sua conta está agora ativa! Pode agora fazer login com as suas credenciais e aproveitar o que o mundo das trocas de livros tem para oferecer!</p>
