@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação da palavra-passe após esquecimento";
}

<h1>@ViewData["Title"]</h1>
<p>
    Verifique o seu e-mail para redefinir a sua palavra-passe.
</p>
