@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de redefinição de palavra-passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua senha foi redefinida. Por favor <a asp-page="./Login">clique aqui para efetuar login.</a>.A sua senha foi redefinida. Clique aqui para efetuar login.
</p>
